Repository greenelab/covid19-review, pull requests merged in 2020-03, with the labels that each got.

#81 📝 Update methods section to describe review process
  content/60.methods.md
  content/metadata.yaml
Labels: Methods, Text In Review

#95 Update 20.treatments.md
  content/20.treatments.md
Labels: Text In Review, immunology

#75 Update 20.treatments.md
  content/20.treatments.md
Labels: Text In Review, immunology, pharmacology

#124 Merge Remdesivir info from #75 and #111
  content/20.treatments.md
Labels: Text for Review, pharmacology, therapeutic
