Repository greenelab/covid19-review, pull requests merged in 2020-04, with the labels that each got.

#112 Update 20.treatments.md
  content/20.treatments.md
Labels: Text for Review, immunology, therapeutic

#121 Add R0 and transmission section to Pathogenesis
  content/07.pathogenesis.md
Labels: Text for Review, epidemiology, pathogenesis

#122 Nutraceuticals section added
  content/20.treatments.md
Labels: Text for Review, pharmacology, therapeutic

#136 Add viral characteristics of CoV to introduction
  content/02.introduction.md
Labels: Text for Review, virology

#146 Added section on hydroxychloroquine and chloroquine
  content/20.treatments.md
  content/metadata.yaml
Labels: Text for Review, pharmacology, therapeutic

#164 Possibly add Zhou et al. article on risk factors for severity?
  content/02.introduction.md
Labels: Text for Review, pathogenesis

#163 add initial mssm import
  build/mssm-jc.sh
  content/94-ismms-appendix-header.md
  content/95-ismms-himc-appendix.md
  content/metadata.yaml
Labels: Technical

#149 Ada's changes to diagnostics
  content/10.diagnostics.md
Labels: Text for Review, diagnostic

#179 Update to add Inovio's new vaccine trial to treatments.md
  content/20.treatments.md
Labels: Text for Review

#180 Build of updates from PR 12 in ISMMS repo
  content/95-ismms-himc-appendix.md
Labels: Technical

#183 new papers added in HCQ.treatments.md
  content/20.treatments.md
Labels: Text for Review

#187 Update 02.introduction.md
  content/02.introduction.md
Labels: Text for Review

#201 Section added to Remdesivir
  content/20.treatments.md
Labels: Text for Review

#196 Adding text to section on "Unexplored Therapeutics"
  content/20.treatments.md
Labels: Text for Review

#217 Only cross-reference sources on GitHub Actions
  .github/workflows/manubot.yaml
  build/build.sh
Labels: Technical

#215 Intro edit
  content/02.introduction.md
Labels: Text for Review

#220 method edits for readability
  content/60.methods.md
Labels: Text for Review

#200 Outline updates
  content/01.abstract.md
  content/02.introduction.md
  content/07.pathogenesis.md
  content/10.diagnostics.md
  content/20.treatments.md
Labels: Text for Review

#199 Added text to "viral entry"
  content/07.pathogenesis.md
Labels: Text for Review

#204 Add PR Links to Internal Data TSV file
  build/litsearch/getInternalData.py
Labels: Technical

#203 Added to Primary Transmission and Viral Entry
  content/07.pathogenesis.md
Labels: Text for Review

#207 Enable automatic section numbering
  build/pandoc-defaults/common.yaml
  build/themes/default.html
  content/00.front-matter.md
  content/01.abstract.md
Labels: Technical

#214 CRISPR diagnostics edit
  content/10.diagnostics.md
Labels: Review Needed, Text for Review, diagnostic

#193 N3, Ebselen, and PPI networks
  content/07.pathogenesis.md
  content/20.treatments.md
Labels: Text for Review

#232 Update 20.treatments.md
  content/20.treatments.md
Labels: Text for Review

#224 Added information to pathogenesis
  content/07.pathogenesis.md
Labels: Text for Review

#226 Add Mt. Sinai review links to TSV file
  build/litsearch/getInternalData.py
Labels: Technical

#230 Updates to Nutraceuticals
  content/20.treatments.md
Labels: Text for Review

#219 RNA vaccines section
  content/20.treatments.md
Labels: Review Needed, Text for Review

#240 Handle DOIs in Brackets; Throw Informative Error for Duplicate New Paper Issues
  build/litsearch/getInternalData.py
Labels: Technical

#257 Temporarily don't include all PR data to stay below GH api limit
  build/litsearch/getInternalData.py
Labels: Technical, bug

#247 An update of the recent data "Hydroxychloroquine in patients with COV…
  content/20.treatments.md
Labels: Text for Review, pharmacology, therapeutic

#244 Update Favipiravir section of theraputics
  content/20.treatments.md
Labels: Text for Review, pharmacology, therapeutic

#254 Replacing my previous update to / expansion of diagnostics section
  content/10.diagnostics.md
Labels: Text for Review, diagnostic

#260 added background on CQ/HCQ
  content/20.treatments.md
Labels: Text for Review, therapeutic
