Repository greenelab/covid19-review, pull requests merged in 2020-07, with the labels that each got.

#478 Cite a new review of neurological symptoms in Lancet Neurology
  content/02.introduction.md
Labels: Merge Pending Checks

#470 Update inhibitors of viral entry
  content/20.treatments.md
Labels: Merge Pending Checks

#465 Initial inclusion of COVID-19 TrialsTracker data
  README.md
  ebmdatalab/ebmdatalab-stats.json
  ebmdatalab/ebmdatalab-trials.png
  ebmdatalab/ebmdatalab-trials.svg
  ebmdatalab/generate-ebmdatalab-stats.py
  ebmdatalab/generate-ebmdatalab-stats.sh
  environment.yml
Labels: Merge Pending Checks, Technical

#485 Added further citations reviewing coagulopathy
  build/assets/custom-dictionary.txt
  content/02.introduction.md
Labels: Merge Pending Checks

#409 Trial Updates to Nutraceuticals
  build/assets/custom-dictionary.txt
  content/20.treatments.md
Labels: Merge Pending Checks

#426 Probiotics Added
  build/assets/custom-dictionary.txt
  content/20.treatments.md
Labels: Merge Pending Checks

#493 Added mention of complement system to thrombosis sentence
  build/assets/custom-dictionary.txt
  content/02.introduction.md
Labels: Merge Pending Checks

#486 smallAdditionDataExample.diagnostics.md
  content/10.diagnostics.md
Labels: Merge Pending Checks

#498 Temporarily disable litsearch scripts
  .github/workflows/manubot.yaml
Labels: Merge Pending Checks

#507 Use Git Data API for references.json
  .github/workflows/manubot.yaml
  build/litsearch/getInternalData.py
Labels: Technical

#511 Add citation for new Nature Medicine review on extrapulmonary symptoms
  content/02.introduction.md
Labels: Merge Pending Checks

#347 Started with a description of studies in molecular mechanism section
  build/assets/custom-dictionary.txt
  content/02.introduction.md
  content/07.pathogenesis.md
  content/images/cell-lines-moi-partB.afdesign
  content/images/cell-lines-moi.afdesign
  content/images/cell-lines-moi.jpg
Labels: Merge Pending Checks

#488 We add a new summary figure
  content/images/4.2-summary-R-M-smallMoleculeDrugs.pdf
  content/images/4.3-summary-R-M-biologicsDrugs.pdf
  content/images/4.3.1-summary-R-M-moreTocilizumab.pdf
  content/images/4.3.2.1-summary-R-U-moreMonoclonal.pdf
  content/images/4.3.4.1.1-summary-L-M-DNAVaccine.pdf
  content/images/4.3.4.1.2-summary-L-L-RNAVaccine.pdf
  content/images/N000-overview.pdf
  content/images/N000-overview.png
  content/images/N001-LifeCyclePlusDrugs.pdf
  content/images/N001-LifeCyclePlusDrugs.png
  content/images/N002-Vaccines.pdf
  content/images/N002-Vaccines.png
  content/images/Summary.pdf
  content/images/summary-M-M-Covid19Mechanism.pdf
  content/metadata.yaml
Labels: Merge Pending Checks

#512 Pin versions of automatically generated figures
  README.md
  csse/generate-csse-stats.py
  csse/generate-csse-stats.sh
  ebmdatalab/generate-ebmdatalab-stats.py
  ebmdatalab/generate-ebmdatalab-stats.sh
  version-figures.sh
Labels: Technical

#480 Add clinical trials figure
  .github/workflows/update-external-resources.yaml
  build/assets/custom-dictionary.txt
  build/build.sh
  content/02.introduction.md
  content/07.pathogenesis.md
  content/20.treatments.md
  content/manual-references.json
Labels: Merge Pending Checks

#519 Remove typos from custom dictionary
  build/assets/custom-dictionary.txt
  content/20.treatments.md
Labels: Merge Pending Checks

#521 Acknowledge Nick DeVito
  build/assets/custom-dictionary.txt
  content/70.coi-contribs.md
Labels: Merge Pending Checks

#481 AddedSubsectionAdjuvantsForVaccines.treatments.md
  build/assets/custom-dictionary.txt
  content/20.treatments.md
Labels: Merge Pending Checks

#408 For Underexplored Therapeutics/Prophylactics: Interactions with Innate Immune Response (TLR agonists/antagonists & BCG trained immunity)
  build/assets/custom-dictionary.txt
  content/20.treatments.md
Labels: Text for Review, help wanted

#460 Demographics and disparities subsection
  build/assets/custom-dictionary.txt
  content/02.introduction.md
  content/50.discussion.md
Labels: Text for Review

#526 Update 02.introduction.md-the immune response
  build/assets/custom-dictionary.txt
  content/02.introduction.md
Labels: Merge Pending Checks

#529 Made some edits to the Introduction
  content/02.introduction.md
Labels: Text for Review

#537 BasicTyposRecentAdditions.treatments.md
  content/20.treatments.md
Labels: Merge Pending Checks

#540 Remdesivir updates
  content/20.treatments.md
Labels: Text for Review

#476 Revise and expand pediatric paragraph in clinical presentation
  build/assets/custom-dictionary.txt
  content/02.introduction.md
Labels: Merge Pending Checks, Text for Review

#508 ddPCR section update
  content/10.diagnostics.md
Labels: in progress

#560 Fix Manubot citations in Therapeutics and Appendix 1
  content/20.treatments.md
  content/manual-references.json
Labels: Merge Pending Checks

#558 QuickFixRemoveRedundancyAvoidUnclarity.treatments.md
  content/20.treatments.md
Labels: Merge Pending Checks, Text for Review
