Repository greenelab/covid19-review, pull requests merged in 2020-08, with the labels that each got.

#564 Remove duplicate MSSM reviews
  content/95-ismms-himc-appendix.md
Labels: Merge Pending Checks

#562 Update 02.introduction.md
  content/02.introduction.md
Labels: Text for Review

#563 SpacingFixes&UpdateSentenceSubpops.introduction.md
  content/02.introduction.md
Labels: Merge Pending Checks

#550 Update R description
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
Labels: Text for Review

#573 Update funding information
  content/metadata.yaml
Labels: Merge Pending Checks

#553 Add results of recent mRNA-1273 study
  build/assets/custom-dictionary.txt
  content/20.treatments.md
Labels: Merge Pending Checks, Text for Review

#577 Updating evolution subsection
  content/02.introduction.md
Labels: Merge Pending Checks

#574 Added my adviser Dr. Serghei Mangul as a coauthor.
  content/metadata.yaml
Labels: Merge Pending Checks

#578 possibleQuickFixPossibleTypoUnderexplored.treatments.md
  content/20.treatments.md
Labels: Text for Review

#589 Updating the CRISPR section in diagnostics
  build/assets/custom-dictionary.txt
  content/10.diagnostics.md
Labels: Merge Pending Checks

#590 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#592 Additional comments on mRNA vaccine section
  content/20.treatments.md
Labels: Merge Pending Checks

#548 Update Tocilizumab section
  build/assets/custom-dictionary.txt
  content/02.introduction.md
  content/20.treatments.md
Labels: Text for Review

#549 ImmuneResponse.pathogenesis.md
  content/07.pathogenesis.md
Labels: Text for Review

#593 add new MIS-C paper
  content/02.introduction.md
Labels: Text for Review

#598 COI / Author Metadata Update
  content/metadata.yaml
Labels: Merge Pending Checks

#569 Map where clinical trials are recruiting
  ebmdatalab/generate-ebmdatalab-stats.py
  ebmdatalab/generate-ebmdatalab-stats.sh
  environment.yml
Labels: Technical

#607 Update external resources environment
  csse/csse-deaths.png
  csse/csse-deaths.svg
  csse/csse-stats.json
  ebmdatalab/ebmdatalab-map.png
  ebmdatalab/ebmdatalab-map.svg
  ebmdatalab/ebmdatalab-stats.json
  ebmdatalab/ebmdatalab-trials.png
  ebmdatalab/ebmdatalab-trials.svg
  environment.yml
Labels: Technical

#611 Revisions from read-through of full introduction
  content/02.introduction.md
Labels: Merge Pending Checks

#613 Fix broken reference
  content/07.pathogenesis.md
Labels: Merge Pending Checks

#620 Restructure intro, virology, pathogenesis, transmission
  build/assets/custom-dictionary.txt
  content/02.introduction.md
  content/03.virology.md
  content/07.pathogenesis.md
  content/08.transmission.md
Labels: Merge Pending Checks

#619 Update Methods to include CI
  build/assets/custom-dictionary.txt
  content/60.methods.md
Labels: Merge Pending Checks

#625 @rlordan suggestions from #624
  content/02.introduction.md
Labels: Merge Pending Checks

#626 Fix treatment references
  content/20.treatments.md
Labels: Merge Pending Checks

#565 Immune evasion strategies
  build/assets/custom-dictionary.txt
  content/02.introduction.md
Labels: Merge Pending Checks
