Repository greenelab/covid19-review, pull requests merged in 2020-05, with the labels that each got.

#265 Cache PR diff info to avoid exceeding GitHub API limit
  build/litsearch/getInternalData.py
Labels: Technical

#285 Auth api
  .github/workflows/manubot.yaml
  build/litsearch/getInternalData.py
Labels: Technical

#295 Preprint labels
  .github/ISSUE_TEMPLATE/new-diag-study-template.md
  .github/ISSUE_TEMPLATE/new-paper-template.md
  .github/ISSUE_TEMPLATE/new-therapy-study-template.md
  .github/labeler.yml
Labels: Methods, Technical

#286 Combine Allen AI dataset with our referenced papers
  .github/workflows/manubot.yaml
  build/build.sh
  build/litsearch/combineDataSets.py
Labels: Technical

#307 Update ISMMS Appendix
  content/95-ismms-himc-appendix.md
Labels: Technical

#206 Add a dPCR section to diagnostics.
  build/assets/custom-dictionary.txt
  content/10.diagnostics.md
  content/metadata.yaml
Labels: Text for Review

#338 Update summary of CQ/HCQ section.
  content/20.treatments.md
Labels: Text for Review

#340 Update CQ/HCQ section
  content/20.treatments.md
Labels: Text for Review
