Repository greenelab/covid19-review, pull requests merged in 2020-11, with the labels that each got.

#657 Minor edits to diagnostics section
  content/07.pathogenesis.md
  content/10.diagnostics.md
Labels: Text for Review

#661 Discussion initial draft
  build/assets/custom-dictionary.txt
  content/20.treatments.md
  content/50.discussion.md
Labels: Merge Pending Checks

#664 Add one new IFR study
  content/08.transmission.md
Labels: Merge Pending Checks

#665 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#666 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#667 Add new article about Navajo nation
  content/08.transmission.md
  content/50.discussion.md
Labels: Merge Pending Checks

#668 A new paper about vitamin D deficiency from last week
  content/20.treatments.md
Labels: Merge Pending Checks

#670 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#683 Update rootstock on 2020-11-10
  .github/workflows/manubot.yaml
  SETUP.md
  USAGE.md
  build/README.md
  build/assets/style.csl
  build/build.sh
  build/environment.yml
  build/pandoc/defaults/html.yaml
  build/plugins/d3.html
  build/plugins/hypothesis.html
  build/plugins/inline-svg.html
  build/plugins/math.html
  build/plugins/table-of-contents.html
  build/themes/default.docx
  build/themes/default.html
  build/themes/nih-grant.docx
Labels: Merge Pending Checks

#678 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#680 Update metadata for Alexandra Lee
  content/metadata.yaml
Labels: Merge Pending Checks

#681 Minor text edits
  content/02.introduction.md
  content/07.pathogenesis.md
Labels: Merge Pending Checks

#685 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#689 Update metadata.yaml
  build/assets/custom-dictionary.txt
  content/metadata.yaml
Labels: Merge Pending Checks

#691 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#692 Update metadata.yaml - author approval MacLean
  content/metadata.yaml
Labels: Merge Pending Checks

#694 Update metadata.yaml - Yuchen Sun
  content/metadata.yaml
Labels: Merge Pending Checks

#695 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#696 Approving manuscript for authorship
  content/metadata.yaml
Labels: Merge Pending Checks

#697 Update to confirm code of conduct and approve authorship
  content/metadata.yaml
Labels: Merge Pending Checks

#701 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#703 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#711 Update metadata.yaml - Tiago Lubiana
  content/metadata.yaml
Labels: Merge Pending Checks

#705 add role for dziakj1
  content/metadata.yaml
Labels: Merge Pending Checks

#706 Update COI date and approve manuscript
  content/metadata.yaml
Labels: Merge Pending Checks

#707 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#699 Update 20.treatments.md
  build/assets/custom-dictionary.txt
  content/20.treatments.md
Labels: Merge Pending Checks

#698 Proofreading
  content/02.introduction.md
  content/07.pathogenesis.md
  content/08.transmission.md
  content/20.treatments.md
  content/50.discussion.md
  content/90.back-matter.md
Labels: Text for Review

#719 Update metadata.yaml
  content/metadata.yaml
Labels: Merge Pending Checks

#717 Add new paper issue templates as appendices
  .github/ISSUE_TEMPLATE/new-paper-template.md
  build/templates-appendix.sh
  content/94-ismms-appendix-header.md
  content/96-template-appendix.md
Labels: Merge Pending Checks

#600 Update 50.discussion.md
  build/assets/custom-dictionary.txt
  content/50.discussion.md
  content/metadata.yaml
Labels: Text for Review

#718 Update 20.treatments.md
  content/20.treatments.md
Labels: Merge Pending Checks

#710 Add tab-delimited list of Mount Sinai Immunology Trainees & Faculty
  content/60.methods.md
  content/mountSinaiNames.tsv
Labels: Technical

#724 Update 07.pathogenesis.md
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
Labels: Merge Pending Checks
