Repository greenelab/covid19-review, pull requests merged in 2021-03, with the labels that each got.

#888 Cite a recent JAMA editorial supporting your claim about poverty as d…
  content/40.inequality.md
Labels: Merge Pending Checks, sdoh

#889 Small Sputnik V updates
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#885 Cite a new paper on MIS-C
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
Labels: pathogenesis

#887 Cite two new papers on different transmissibility of variants
  content/07.pathogenesis.md
Labels: pathogenesis

#890 Add text for SinoVac's vaccine
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#894 Stop building docx for unneeded manuscripts
  content/individual-manuscripts.txt
Labels: Merge Pending Checks

#862 Update 22.vaccines.md
  content/22.vaccines.md
Labels: Merge Pending Checks, Text for Review, vaccines

#895 One update to Sputnik V
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#893 Editing VOC text
  build/assets/custom-dictionary.txt
  content/09.evolution.md
Labels: Merge Pending Checks, evolution

#896 Global vaccine status and distribution
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#908 Janssen Vaccine Addition
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#883 Pathogenesis - Some responses to reviewer 2
  content/07.pathogenesis.md
Labels: pathogenesis

#909 Update 22.vaccines.md
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, Text for Review, vaccines

#911 Update 22.vaccines.md
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#897 Sustained Immunity Update
  build/assets/custom-dictionary.txt
  content/10.diagnostics.md
Labels: diagnostic

#912 Vaccine MS Abstract
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#905 Add Heparin Sulfate to Pathogenesis (response to 1.1)
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
  content/metadata.yaml
Labels: Merge Pending Checks, Text for Review, pathogenesis

#913 Vaccine MS: vaccine efficacy as virus evolves
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#916 Add text about AstraZeneca vaccine to vaccines
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
  content/70.coi-contribs.md
Labels: Text for Review, vaccines
