Repository greenelab/covid19-review, pull requests merged in 2021-04, with the labels that each got.

#918 Create appendix for vaccines
  content/22.vaccines.md
  content/23.vaccines-app.md
Labels: Technical

#922 Pull data from OWID to update vaccine distribution info
  README.md
  owiddata/generate-owiddata-stats.py
  owiddata/generate-owiddata-stats.sh
  owiddata/owiddata-stats.json
Labels: Technical, vaccines

#926 Update OWID statistics
  .github/workflows/update-external-resources.yaml
  content/manual-references.bib
Labels: Technical

#924 COVAXIN
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
  content/metadata.yaml
Labels: Merge Pending Checks, vaccines

#931 Update ORCID formatting
  content/metadata.yaml
Labels: Merge Pending Checks

#923 Vaccine organizational overhaul
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
  content/23.vaccines-app.md
Labels: Merge Pending Checks, vaccines

#935 Updates to evolution
  content/09.evolution.md
  content/metadata.yaml
Labels: evolution

#927 Move existing therapeutics text to appendix
  content/20.pharmaceuticals.md
  content/21.pharmaceuticals-app.md
  content/24.nutraceuticals.md
Labels: therapeutic

#939 Prepare methods for ACM - BCB
  content/60.methods.md
Labels: Methods

#942 add scite paragraph
  content/60.methods.md
Labels: Methods

#941 Initial plotting of CORD-19 dataset
  CORD-19/cord19-growth.png
  CORD-19/cord19-growth.svg
  CORD-19/cord19-stats.json
  CORD-19/generate-cord19-stats.py
  CORD-19/generate-cord19-stats.sh
  CORD-19/parse_html.py
  README.md
  environment.yml
  version-figures.sh
Labels: Methods

#946 Add CORD-19 resource to workflow and build script
  .github/workflows/update-external-resources.yaml
  build/build.sh
  content/60.methods.md
Labels: Methods

#949 Add methods contributions to metadata
  content/metadata.yaml
Labels: Merge Pending Checks, Methods

#951 add vince as author
  content/metadata.yaml
Labels: Merge Pending Checks, Methods

#954 Add manual references
  content/manual-references.json
Labels: Methods

#955 Initial add of dhimmel to authors
  content/metadata.yaml
Labels: Methods

#956 Fix mprobson formatting
  content/metadata.yaml
Labels: Merge Pending Checks, Methods
