Repository greenelab/covid19-review, pull requests merged in 2021-11, with the labels that each got.

#1062 Update 10.diagnostics.md
  build/assets/custom-dictionary.txt
  content/10.diagnostics.md
Labels: Merge Pending Checks

#1063 Protein Subunit Updates
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#1049 Vaccination and viral load
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
  content/22.vaccines.md
  content/23.vaccines-app.md
Labels: vaccines
