Repository greenelab/covid19-review, pull requests merged in 2021-08, with the labels that each got.

#979 Add synopsis of convalescent plasma
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, pharmacology, therapeutic

#978 Tweaking of Pharmaceuticals text for resubmission
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
  content/21.pharmaceuticals-app.md
Labels: Merge Pending Checks, pharmacology

#982 Update COI for @marouenbg
  content/metadata.yaml
Labels: Merge Pending Checks

#987 Pharmaceuticals text edits from @jeff-field
  content/20.pharmaceuticals.md
  content/21.pharmaceuticals-app.md
  content/metadata.yaml
Labels: pharmacology

#989 Update external-resources branch
  csse/csse-deaths.png
  csse/csse-deaths.svg
  csse/csse-stats.json
  environment.yml
Labels: Technical, therapeutic, pharmacology

#996 Edits to main therapeutics manuscript
  content/20.pharmaceuticals.md
Labels: therapeutic, pharmacology, Merge Pending Checks

#993 Pharmaceuticals proofreading
  build/assets/custom-dictionary.txt
  content/00.front-matter.md
  content/20.pharmaceuticals.md
  content/21.pharmaceuticals-app.md
  content/manual-references-2021-02-08.json
  content/manual-references.json
Labels: therapeutic, pharmacology

#992 Maybe mention living WHO therapeutics guidelines
  content/20.pharmaceuticals.md
Labels: therapeutic, pharmacology

#1000 Add sotrovimab to therapeutics
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: therapeutic, pharmacology, Merge Pending Checks

#1001 Small fixes to therapeutics text
  content/20.pharmaceuticals.md
Labels: therapeutic, pharmacology, Merge Pending Checks

#980 Therapeutics Response to Reviews
  content/response-to-reviews/therapeutics-v1.md
Labels: therapeutic, pharmacology

#1007 Reframe computational screens and tie limitations together across sections
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
  content/21.pharmaceuticals-app.md
  content/70.coi-contribs.md
Labels: therapeutic, Merge Pending Checks
