Repository greenelab/covid19-review, pull requests merged in 2021-02, with the labels that each got.

#826 Last few checks for nutraceuticals
  content/21.nutraceuticals.md
Labels: Merge Pending Checks, nutraceuticals

#740 Add updated Pfizer/BioNTech info based on recent paper/press releases
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: Text for Review, pharmacology, therapeutic

#741 Update Moderna vaccine info
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: Text for Review, pharmacology, therapeutic

#829 Split vaccines into separate paper
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
  content/22.vaccines.md
Labels: pharmacology, therapeutic, vaccines

#836 Fix Broken DOI in evolution
  content/09.evolution.md
Labels: evolution

#837 Quick update to favipiravir section
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, Text for Review, therapeutic

#835 Clarity/organization/style/grammar edits to Therapeutics
  build/assets/custom-dictionary.txt
  build/build.sh
  build/pandoc/defaults/athenapdf.yaml
  content/20.pharmaceuticals.md
  content/90.back-matter.md
Labels: therapeutic

#843 Updates to dexamethasone section
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, Text for Review, therapeutic

#845 Fix some word duplications.
  content/10.diagnostics.md
  content/21.nutraceuticals.md
Labels: Merge Pending Checks

#841 Update ebselen with reference to clinical trials
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, Text for Review, therapeutic

#844 Update interferon section
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, therapeutic

#848 Finalize and build pharmaceuticals manuscript
  content/20.pharmaceuticals.md
  content/images/N001-LifeCyclePlusDrugs.png
  content/individual-manuscripts.txt
  content/metadata.yaml
Labels: pharmacology

#850 Add two authors onto pathogenesis
  content/metadata.yaml
Labels: pathogenesis

#853 Final review of therapeutics section
  content/20.pharmaceuticals.md
Labels: pharmacology, therapeutic

#854 Pharmaceuticals proofreading
  content/00.front-matter.md
  content/20.pharmaceuticals.md
  content/90.back-matter.md
  content/manual-references-2021-02-08.json
  content/manual-references.json
Labels: Merge Pending Checks, pharmacology, therapeutic

#856 Vaccines Update: Sputnik V
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, Text for Review, vaccines

#860 Updates from @byrdjb
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, pharmacology, therapeutic

#863 Edits/comments to therapeutics manuscript
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, pharmacology, therapeutic

#865 Add a summary table to therapeutics
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: pharmacology, therapeutic

#852 Initial edits to Diagnostics manuscript
  build/assets/custom-dictionary.txt
  content/10.diagnostics.md
Labels: Merge Pending Checks, Text for Review, diagnostic

#864 Incorporate new data from RECOVERY trial
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, Text for Review, pharmacology, therapeutic

#873 Add date to therapeutics summary table
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, pharmacology, therapeutic

#874 Pharmaceuticals touchups
  content/20.pharmaceuticals.md
  content/manual-references.json
Labels: pharmacology, therapeutic

#871 Add background for whole and subunit vaccines
  content/22.vaccines.md
Labels: Merge Pending Checks, Text for Review, vaccines

#875 Pharmaceuticals touchups part 2
  content/20.pharmaceuticals.md
  content/22.vaccines.md
  content/manual-references.json
Labels: Merge Pending Checks

#876 Update 20.pharmaceuticals.md
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, Text for Review, therapeutic

#879 update affil for maclean
  content/metadata.yaml
Labels: Merge Pending Checks

#877 Nutraceuticals - Response to Reviewers
  build/assets/custom-dictionary.txt
  content/21.nutraceuticals.md
  content/individual-manuscripts.txt
Labels: nutraceuticals
