Repository greenelab/covid19-review, pull requests merged in 2021-07, with the labels that each got.

#974 Change Methods to utilize CEUR-art template
  build/assets/ceurart-pandoc-2col.tex
  build/pandoc/defaults/latex.yaml
  build/update-latex-metadata.py
Labels: Technical

#975 Text changes to Methods section
  content/60.methods.md
  content/90.back-matter.md
Labels: Methods

#971 Add To-do item for prior work and initial draft
  content/10.diagnostics.md
Labels: Merge Pending Checks, diagnostic

#962 Updates to figures for Therapeutics manuscript
  csse/csse-deaths.svg
  csse/generate-csse-stats.py
  csse/generate-csse-stats.sh
  ebmdatalab/generate-ebmdatalab-stats.py
  environment.yml
Labels: pharmacology

#977 Move @rlordan and @cbrueffer up in therapeutics author list
  content/metadata.yaml
Labels: pharmacology
