Repository greenelab/covid19-review, pull requests merged in 2021-01, with the labels that each got.

#755 Update conda environment action
  .github/workflows/update-external-resources.yaml
Labels: Technical

#739 Proposed Therapeutics Manuscript Content/Structure
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
  content/20.pharmaceuticals.md
Labels: Text for Review, therapeutic

#743 Incorporate data from & critiques of SOLIDARITY trial
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, Text for Review, therapeutic

#753 added author information
  content/metadata.yaml
Labels: Merge Pending Checks

#742 Proposed abstract for therapeutics
  content/20.pharmaceuticals.md
Labels: Merge Pending Checks, Text for Review, therapeutic

#747 Suggestions & Edits from @byrdjb (should be quick to review)
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
  content/09.evolution.md
Labels: Merge Pending Checks

#748 Nutraceuticals Outline and Checklist
  content/21.nutraceuticals.md
Labels: Merge Pending Checks, nutraceuticals

#745 Proposed content of pathogenesis/transmission manuscript
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
  content/09.evolution.md
  content/40.inequality.md
Labels: Merge Pending Checks, Text for Review, pathogenesis

#756 Resolve spelling for nutraceuticals
  build/assets/custom-dictionary.txt
  content/21.nutraceuticals.md
Labels: Merge Pending Checks, nutraceuticals

#746 Proposed abstract & title for pathogenesis manuscript
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
Labels: Merge Pending Checks, Text for Review, pathogenesis

#758 Add @nilswellhausen's genome structure figure
  content/07.pathogenesis.md
  content/images/genome-structure.png
Labels: pathogenesis

#759 Address bug caused by inserting figure in multiple places
  content/02.introduction.md
Labels: Merge Pending Checks, Technical

#764 Update @cgreene and @rando2 affiliation
  content/metadata.yaml
Labels: Merge Pending Checks

#763 Restructure build for individual pathogenesis manuscript
  .github/workflows/manubot.yaml
  USAGE.md
  build/README.md
  build/build.sh
  build/pandoc/defaults/common.yaml
  build/update-author-metadata.py
  content/00.front-matter.md
  content/individual-manuscripts.txt
  content/metadata.yaml
Labels: Technical

#760 Rough outline of evolution manuscript
  content/09.evolution.md
Labels: Merge Pending Checks, Text for Review, evolution

#772 Remove repeated paragraph
  content/07.pathogenesis.md
Labels: Merge Pending Checks, pathogenesis

#781 Update number of sequences in GISAID
  content/07.pathogenesis.md
Labels: Merge Pending Checks, pathogenesis

#783 Proofread pathogenesis manuscript
  content/07.pathogenesis.md
Labels: pathogenesis

#784 More proofreading of pathogenesis manuscript
  content/07.pathogenesis.md
Labels: pathogenesis

#793 Build multiple individual manuscripts
  build/assets/custom-dictionary.txt
  build/build.sh
  content/60.methods.md
  output/README.md
Labels: Merge Pending Checks, Technical

#786 Added text about spike protein evolution
  content/07.pathogenesis.md
Labels: Merge Pending Checks, pathogenesis

#796 Delete repeated sentence
  content/07.pathogenesis.md
Labels: Merge Pending Checks, pathogenesis

#799 Fix terminology about ACE2 "receptor"
  content/07.pathogenesis.md
Labels: Merge Pending Checks, pathogenesis

#797 Add author order & contributions for Pathogenesis ms
  content/metadata.yaml
Labels: Merge Pending Checks

#794 Update tissues expressing ACE2
  content/07.pathogenesis.md
Labels: Merge Pending Checks, Text for Review, pathogenesis

#795 Add additional references for ACE2 + lung damage
  content/07.pathogenesis.md
Labels: Merge Pending Checks, pathogenesis

#790 Revisions for Pathogenesis from @alavendelm
  content/07.pathogenesis.md
Labels: Merge Pending Checks, Text for Review, pathogenesis

#800 Update pathogenesis metadata and author order footnote
  build/update-author-metadata.py
  content/00.front-matter.md
  content/metadata.yaml
Labels: Merge Pending Checks

#802 Add cite of "Olfactory transmucosal SARS-CoV-2 invasion" article
  content/07.pathogenesis.md
Labels: Merge Pending Checks, pathogenesis

#798 Minor changes to nutraceuticals
  content/21.nutraceuticals.md
Labels: Merge Pending Checks, nutraceuticals

#789 Add changes suggested by @SiminaB
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
Labels: Merge Pending Checks, Text for Review, pathogenesis

#806 Update citations
  content/07.pathogenesis.md
  content/images/FIgX1.jpg
Labels: Merge Pending Checks

#807 Fix @scapone01 author credit for pathogenesis
  content/metadata.yaml
Labels: pathogenesis

#808 Affiliation and last approved
  content/metadata.yaml
Labels: Merge Pending Checks

#809 Superficial fixes before submission
  content/07.pathogenesis.md
Labels: Merge Pending Checks, pathogenesis

#810 Add Vince & Daniel to acknowledgements
  content/70.coi-contribs.md
Labels: Merge Pending Checks

#771 selection pressure and evolution
  build/assets/custom-dictionary.txt
  content/09.evolution.md
Labels: Merge Pending Checks, Text for Review, evolution

#814 edits to n-3 PUFA section
  build/assets/custom-dictionary.txt
  content/21.nutraceuticals.md
Labels: Merge Pending Checks, Text for Review, nutraceuticals

#815 General suggestions for nutraceuticals
  content/21.nutraceuticals.md
Labels: Merge Pending Checks, Text for Review, nutraceuticals

#817 Minor addition Nutraceuticals
  build/assets/custom-dictionary.txt
  content/21.nutraceuticals.md
Labels: Merge Pending Checks, Text for Review, nutraceuticals

#819 Mention diet-inflammation link
  build/assets/custom-dictionary.txt
  content/21.nutraceuticals.md
Labels: Merge Pending Checks, Text for Review, nutraceuticals

#820 Build docx for nutraceuticals
  content/individual-manuscripts.txt
  content/metadata.yaml
Labels: Merge Pending Checks, nutraceuticals

#770 Sustained immunity update
  build/assets/custom-dictionary.txt
  content/10.diagnostics.md
Labels: Merge Pending Checks, Text for Review, diagnostic

#816 Update to variants
  build/assets/custom-dictionary.txt
  content/09.evolution.md
Labels: Merge Pending Checks, Text for Review, evolution

#823 Add github for an author
  content/metadata.yaml
Labels: pharmacology
