Repository greenelab/covid19-review, pull requests merged in 2021-09, with the labels that each got.

#984 Updates to vaccines manuscript
  content/22.vaccines.md
  content/individual-docx-manuscripts.txt
Labels: Merge Pending Checks, vaccines

#1017 Cite Foote et al, JAMA Oncology, August 19, 2021.
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
Labels: pathogenesis, Merge Pending Checks

#1020 Add reviewer comments as template for responding
  content/response-to-reviews/methods-v1.md
Labels: Methods, Merge Pending Checks

#1023 Typo fix
  content/21.pharmaceuticals-app.md
Labels: pharmacology

#1029 Update 07.pathogenesis.md
  content/07.pathogenesis.md
Labels: Merge Pending Checks

#985 Pathogenesis - Response to Reviewers
  build/assets/custom-dictionary.txt
  content/07.pathogenesis.md
  content/40.inequality.md
  content/manual-references.json
  content/metadata.yaml
  content/response-to-reviews/pathogenesis-v1.md
Labels: pathogenesis

#1028 Live attenuated-vaccines
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#1031 Address Methods comment 1.6 with sentence addition
  content/60.methods.md
Labels: Methods, Merge Pending Checks

#1021 Minor methods edits requested in review
  content/00.front-matter.md
  content/60.methods.md
  content/response-to-reviews/methods-v1.md
  output/README.md
Labels: Methods, Merge Pending Checks

#1025 Additional edits to high-throughput screening section
  build/assets/custom-dictionary.txt
  content/20.pharmaceuticals.md
  content/manual-references.json
Labels: therapeutic

#1034 #1019 for plotting project growth, but on external-resources branch
  analyze-ms-stats/calc-manuscript-stats.py
  analyze-ms-stats/calc-manuscript-stats.sh
  analyze-ms-stats/commitData.csv
  analyze-ms-stats/environment.yml
  analyze-ms-stats/manuscript_stats.json
  analyze-ms-stats/manuscript_stats.png
  analyze-ms-stats/manuscript_stats.svg
  version-figures.sh
Labels: Methods

#1035 Edits to master branch required for integration of #1034
  .github/workflows/update-external-resources.yaml
  build/build.sh
Labels: Methods

#1033 DISCO methods paper, initial attempt to address feedback from reviewers 2&3
  build/assets/custom-dictionary.txt
  content/60.methods.md
  content/individual-docx-manuscripts.txt
  content/metadata.yaml
  content/response-to-reviews/methods-v1.md
Labels: Methods, Merge Pending Checks

#944 Adapting Daniel's code for contributor graphs
  contrib-viz/01.contrib-git.ipynb
  contrib-viz/02.contrib-viz.ipynb
  contrib-viz/03.contrib-stats.ipynb
  contrib-viz/calc-contrib-stats.sh
  contrib-viz/covid19-review-contribution-dot.pdf
  contrib-viz/covid19-review-contribution-dot.png
  contrib-viz/covid19-review-contribution-dot.svg
  contrib-viz/covid19-review-contribution-ridge.pdf
  contrib-viz/covid19-review-contribution-ridge.png
  contrib-viz/covid19-review-contribution-ridge.svg
  contrib-viz/covid19-review-stats.json
  contrib-viz/environment.yml
  contrib-viz/renamer.tsv
Labels: Methods

#1037 Add figures to methods and edit text
  build/build.sh
  content/60.methods.md
  content/images/covid-19-review-workflow-figure.pdf
  content/images/covid-19-review-workflow-figure.png
  content/images/covid-19-review-workflow-figure.svg
  content/images/manuscript_stats.png
  content/manual-references.json
Labels: Merge Pending Checks

#1041 Arrange CORD-19 figure panels vertically
  CORD-19/cord19-growth.png
  CORD-19/cord19-growth.svg
  CORD-19/cord19-stats.json
  CORD-19/generate-cord19-stats.py
Labels: Methods

#1040 Edits to shorten methods text
  build/assets/custom-dictionary.txt
  content/60.methods.md
  content/images/covid-19-review-workflow-horizontal-cropped.pdf
  content/images/covid-19-review-workflow-horizontal.pdf
  content/images/covid-19-review-workflow-horizontal.png
  content/images/covid-19-review-workflow-horizontal.svg
  content/response-to-reviews/methods-v1.md
Labels: Methods

#1036 collapse ref section by def, load scite badges on intersect
  build/plugins/accordion.html
  build/plugins/attributes.html
  build/plugins/hypothesis.html
  build/plugins/scite.html
  content/90.back-matter.md
Labels: Technical

#1044 Pathogenesis proofreading
  content/00.front-matter.md
  content/07.pathogenesis.md
  content/90.back-matter.md
  content/manual-references.bib
  content/manual-references.json
Labels: Merge Pending Checks

#1046 Reorganize clinical trials fig to meet journal requirements
  ebmdatalab/generate-ebmdatalab-stats.py
Labels: pharmacology

#1047 Minor edits made for pathogenesis resubmission
  content/07.pathogenesis.md
  content/response-to-reviews/pathogenesis-v1.md
Labels: pathogenesis

#1050 List packages in conda environment
  .github/workflows/update-external-resources.yaml
Labels: Technical
