Repository greenelab/covid19-review, pull requests merged in 2022-01, with the labels that each got.

#866 CRISPR update
  content/10.diagnostics.md
Labels: diagnostic, Text for Review, Merge Pending Checks

#1076 update structure and content of diagnostics section
  content/10.diagnostics.md
  content/metadata.yaml
Labels: Merge Pending Checks

#1073 Additional structural edits for vaccines manuscript
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
  content/23.vaccines-app.md
Labels: Merge Pending Checks, vaccines
