Repository greenelab/covid19-review, pull requests merged in 2022-05, with the labels that each got.

#1138 Update zoonotic disease section
  build/assets/custom-dictionary.txt
  content/09.evolution.md
Labels: evolution

#1141 COVID-19 as an anthroponotic disease
  build/assets/custom-dictionary.txt
  content/09.evolution.md
  content/individual-docx-manuscripts.txt
Labels: Merge Pending Checks, evolution

#1143 Evolution - Wastewater surveillance
  content/09.evolution.md
Labels: Merge Pending Checks, evolution

#1144 Add Covifenz
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#1147 Split vaccines because it's impossible to get it under 10k words
  content/22.vaccines-trad.md
  content/23.vaccines-novel.md
  content/24.vaccines-app.md
  content/25.nutraceuticals.md
  content/individual-docx-manuscripts.txt
Labels: vaccines

#1148 Vaccines MS #1 rough draft
  content/22.vaccines-trad.md
  content/23.vaccines-novel.md
  content/24.vaccines-app.md
  content/individual-docx-manuscripts.txt
Labels: vaccines
