Repository greenelab/covid19-review, pull requests merged in 2022-03, with the labels that each got.

#1088 Minor update to external resources
  owiddata/generate-owiddata-stats.py
Labels: vaccines

#1086 Resolve spelling errors/"errors" from diagnostics ms
  build/assets/custom-dictionary.txt
  content/10.diagnostics.md
Labels: diagnostic, Merge Pending Checks

#1083 Update protein subunit
  build/assets/custom-dictionary.txt
  content/22.vaccines.md
  content/23.vaccines-app.md
Labels: Merge Pending Checks, vaccines

#1085 Shorten & finalize vaccines text: introductory text
  content/22.vaccines.md
Labels: Merge Pending Checks, vaccines

#1089 mRNA updates
  content/22.vaccines.md
Labels: vaccines

#1092 Reorganize sections within diagnostics
  content/10.diagnostics.md
Labels: diagnostic, Merge Pending Checks

#1099 Flesh out serological tests
  content/10.diagnostics.md
Labels: diagnostic

#1098 Add description of antigen testing with immunoassays
  content/10.diagnostics.md
  content/22.vaccines.md
Labels: diagnostic, Merge Pending Checks

#1091 Edits to Diagnostics ms
  content/10.diagnostics.md
  content/available-text/immune-response.md
  content/individual-docx-manuscripts.txt
  content/manual-references.json
Labels: diagnostic, Merge Pending Checks

#1102 Addition to Manuscript
  content/10.diagnostics.md
Labels: diagnostic, Merge Pending Checks

#1106 Update references to reduce errors at build
  content/09.evolution.md
  content/10.diagnostics.md
  content/22.vaccines.md
  content/23.vaccines-app.md
  content/manual-references.json
Labels: Technical

#1107 LFT_PCR Blurb
  content/10.diagnostics.md
Labels: diagnostic

#1108 Final addition to the manuscript
  content/10.diagnostics.md
Labels: diagnostic

#1104 Update to processing of external data about vaccines
  environment.yml
  owiddata/generate-owiddata-stats.py
  owiddata/generate-owiddata-stats.sh
  owiddata/maps/DNA.png
  owiddata/maps/DNA.svg
  owiddata/maps/Inactivated.png
  owiddata/maps/Inactivated.svg
  owiddata/maps/Plasmid_Vectored.png
  owiddata/maps/Plasmid_Vectored.svg
  owiddata/maps/RNA.png
  owiddata/maps/RNA.svg
  owiddata/maps/VLP.png
  owiddata/maps/VLP.svg
  owiddata/maps/inactivated_whole_virus.png
  owiddata/maps/non_replicating_viral_vector.png
  owiddata/maps/non_replicating_viral_vector.svg
  owiddata/maps/protein_subunit.png
  owiddata/maps/protein_subunit.svg
  owiddata/owiddata-stats.json
  owiddata/vaccine_platforms.csv
Labels: vaccines

#1105 fix reference to figure
  content/22.vaccines.md
Labels: vaccines

#1112 Final minor edits
  content/10.diagnostics.md
Labels: diagnostic

#1111 Diagnostics Author Info
  content/metadata.yaml
Labels: diagnostic
