Repository greenelab/covid19-review, pull requests merged in 2022-04, with the labels that each got.

#1090 Edits to Whole-Virus Vaccine text
  content/22.vaccines.md
  content/23.vaccines-app.md
Labels: vaccines

#1117 BCG update
  content/22.vaccines.md
Labels: vaccines

#1116 Remove hyphen from JSON variable name
  owiddata/generate-owiddata-stats.py
Labels: vaccines

#1119 Rearrange Subunit Vaccine Text
  content/22.vaccines.md
  content/23.vaccines-app.md
Labels: vaccines

#1121 Apply new organiational criteria for safety/efficacy to whole-virus vaccines
  content/22.vaccines.md
Labels: vaccines

#1123 Add section about candidate genes
  content/09.evolution.md
Labels: evolution

#1115 Add markdown tables from JSON to vaccines ms
  content/22.vaccines.md
Labels: vaccines

#1130 Diagnostics: various improvements from a complete read-through.
  content/10.diagnostics.md
Labels: diagnostic

#1120 Edits from @jessegmeyerlab
  content/10.diagnostics.md
  content/manual-references.json
  content/metadata.yaml
Labels: diagnostic

#1129 Rest of text re: genetics of COVID-19 susceptibility
  build/assets/custom-dictionary.txt
  content/09.evolution.md
Labels: evolution

#1127 Evolution framing edits
  content/09.evolution.md
Labels: evolution

#1132 Diagnostics proofreading
  content/09.evolution.md
  content/10.diagnostics.md
  content/22.vaccines.md
  content/23.vaccines-app.md
  content/individual-latex-manuscripts.txt
  content/manual-references.json
Labels: diagnostic

#1134 Add sensitivity and selectivity to diagnostics intro
  content/10.diagnostics.md
Labels: diagnostic

#1135 Add summary figure to diagnostics
  content/10.diagnostics.md
  content/images/diagnostics.png
  content/metadata.yaml
Labels: diagnostic

#1137 Finalize diagnostics for preprint/submission
  build/assets/custom-dictionary.txt
  content/10.diagnostics.md
Labels: diagnostic
